#testing image files
sift/*.pgm

#temp files in SIFT
sift/temp.key

#temp files in matlab
temp.jpg
*.asv
test.mat

#Face detection via C#
FaceDetection/

#obsolete SIFT algorithm
sift/
sift_zheng/

#binary files
*.mat